*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Barlow Semi Condensed", sans-serif;
}
.supreme-container{
    background-color: rgba(240,240,255,1);
    position: relative;
    min-height: 100vh;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.main-container{
    /*background-color: rgba(0,150,0,0.1);*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    min-width: 1150px;
    width: 75%;
    min-height: 70%;
    margin: 5vh auto 0 auto;
}
.testimonial-container{
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: max(3vh, 25px);
    padding-bottom: max(3vh, 25px);
    margin: 2px;
    /*background-color: rgba(150,150,0,0.2);*/
    border-radius: 0.6rem;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 30px 30px 50px 0 rgba(0,0,0,0.1);
}
.daniel-testimonial{
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-size: auto 38%;
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.patrick-testimonial{
    grid-column: 2/4;
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.jeanette-testimonial{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    color: hsl(0, 0%, 35%);
}
.kira-testimonial{
    grid-row: 1/3;
    grid-column:4/5;
    background-color: white;
    color: hsl(0, 0%, 35%);
}
.jonathan-testimonial{
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.person-container{
    display: flex;
    width: 25%;
    min-width: 180px;
    justify-content: flex-start;
    align-items: center;
    margin-top: min(6px, 1vh);
    /*background-color: rgba(0,0,0,0.1);*/
}
.person-img{
    width: 40px;
    border-radius: 50%;
}
.daniel-testimonial .person-img, .patrick-testimonial .person-img{
    border: 2px solid hsl(263, 55%, 62%);
}
.person-details{
    margin-left: 1vw;
}
.person-name{
    font-size: 1rem;
    font-weight: 500;
}
.verified-graduate{
    font-size: 13px;
    opacity: 0.5;
}
.testimonial-header{
    font-size: 1.5rem;
    margin: 2vh 0 1vh 0;
    margin-top: max(2vh, 15px);
    margin-bottom: max(1vh, 7px);
}
.testimonial-text{
    opacity: 0.7;
    margin-top: max(1vh, 7px);
    margin-bottom: max(1vh, 7px);
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 500;
}

.attribution{
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a{
    text-decoration: none;
    transition: color 0.2s ease;
}
.attribution a:hover{
    color: rgb(27, 105, 27);
}
@media(min-width: 1170px) and (max-height: 845px){
    .main-container{
        margin: 0 auto;
    }
}
@media(max-width: 1170px)
{
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 585px;
        min-width: 345px;
        margin: 0 auto;
    }
    .testimonial-container{
        padding-left: max(3vw, 30px);
        padding-right: max(3vw, 30px);
    }
    .daniel-testimonial{
        background-size: auto 136px;
    }
    .person-details{
        margin-left: 1rem;
    }
}
@media(max-width: 600px){
    .main-container{
        width: 90%;
    }
    .attribution{
        width: 100%;
    }
}